@import "colorSchemeOne.scss";

#trayContents {
  visibility: hidden;
}

#time {
  height: 400px;
  text-align: center;
  font-weight: bold;
  color: $mainFontColor;
  font-style: italic;
  font-family: $defaultFontFamily;
  position: relative;
  border: none;
  top: -50px;

}

.timeButtons {
  background-color: $mainColorOne;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
  width: 200px;
  font-size: larger;
  border-radius: 8px;


}
.timeSelectArrowUp {
  height: 20px;
  width: 30px;
  border: none;
  cursor: pointer;

}
.timeSelectArrowDown {
  height: 20px;
  width: 30px;
  border: none;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#timeNumbers {
  color: red;
  position: relative;
  font-size: 60px;
  top: -65px;

}
#hourArrowUp {
  position: relative;
  top: -17px;
  left: -45px;


}

#minArrowUp {
  position: relative;
  top: -17px;
  left: -8px;

}

#amOrPMArrowUp {
  position: relative;
  top: -17px;
  left: 50px;
}

#hourArrowDown {
  position: relative;
  left: -45px;
  top: -110px;;

}

#minArrowDown {
  position: relative;
  top: -110px;
  left: -8px;

}

#amOrPMArrowDown {
  position: relative;
  top: -110px;
  left: 50px;
}

#timeButtons {
  position: relative;
  top: -100px;
}

@media only screen and (min-width: 768px) {
  #trayContents {
    border-right: solid 1px $borderColor;
    width: 701px;
    max-width: 783px;
    min-width: 366px;
    height: auto;
    visibility: visible;

  }

  #time {
    width: 297px;
    border-left: solid 1px $borderColor;
    border-right: solid 1px transparent;
    top: 0;
  }

  .timeButtons:hover {
    opacity: 0.7;

  }

}