@import url(https://fonts.googleapis.com/css?family=Caveat+Brush);

$mainColorOne: #B8CB3A;
$titleFont: 'Caveat Brush', cursive;
$borderColor: #D3D3D3;
$bodyColor: #FFFFFF;
$mainBGColor: #F5F5F5;
$mainFontColor: #A9A9A9;
$defaultFontFamily: Arial, Helvetica, sans-serif;