@import url(https://fonts.googleapis.com/css?family=Caveat+Brush);
html, body {
  margin: 0;
  padding: 0; }

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #FFFFFF; }

button {
  border: none;
  cursor: pointer; }

button:focus {
  outline: 0; }

header {
  background-color: #B8CB3A;
  height: 50px;
  border: 1px #B8CB3A solid;
  position: relative;
}

.main {
  border: solid 1px #D3D3D3;
  background-color: #F5F5F5;
  position: relative;
  height: 400px;
}

.title {
  color: ghostwhite;
  text-align: left;
  margin: 0;
  padding-left: 20px;
  font-family: "Caveat Brush", cursive;
}

.trayButton {
  background-color: white;
  color: #B8CB3A;
  height: 100%;
  top: 0px;
  left: 80%;
  position: absolute;
  margin-right: 10px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold; }

.trayButton:hover {
  color: #A9A9A9;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #A9A9A9;
}

.mainHeading {
  text-align: center;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    min-width: 1000px;
    max-width: 1000px;
  }

  .trayButton {
    right: 5%;
    width: 100px;
    height: 42px;
    top: 3px;
  }

  .main {
    display: flex;
  }

  header {
    min-width: 1000px;
    max-width: 1000px;
  }

  .title {
    text-align: center;
  }

  .main {
    min-width: 1000px;
    max-width: 1000px;
  }
}

/*# sourceMappingURL=global.css.map */
