@import "colorSchemeOne";

html, body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: $bodyColor;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}



header {
  background-color: $mainColorOne;
  height: 50px;
  border: 1px $mainColorOne solid;
  position: relative;


}

.main {
  border: solid 1px $borderColor;
  background-color: $mainBGColor;
  position: relative;
  height: 400px;


}

.title {
  color: ghostwhite;
  text-align: left;
  margin: 0;
  padding-left: 20px;
  font-family: $titleFont;
}

.trayButton {

  background-color: white;
  color: $mainColorOne;
  height: 100%;
  top: 0px;
  left: 80%;
  position: absolute;
  margin-right: 10px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
}

.trayButton:hover {
  color: $mainFontColor;
}

h1 {
  font-family: $defaultFontFamily;
  color: $mainFontColor
}

.mainHeading {
  text-align: center;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    min-width: 1000px;
    max-width: 1000px;

  }

  .trayButton {
    right: 5%;
    width: 100px;
    height: 42px;
    top: 3px;
  }

  .main {
    display: flex;
  }
  header {
    min-width: 1000px;
    max-width: 1000px;

  }
  .title {
    text-align: center;
  }
  .main {
    min-width: 1000px;
    max-width: 1000px;
  }

}