@import url(https://fonts.googleapis.com/css?family=Caveat+Brush);
@import url(https://fonts.googleapis.com/css?family=Caveat+Brush);

html, body {
    margin: 0;
    padding: 0
}

.wrapper {
    margin-left: auto;
    margin-right: auto
}

body {
    background-color: #fff
}

button {
    border: none;
    cursor: pointer
}

button:focus {
    outline: 0
}

header {
    background-color: #B8CB3A;
    height: 50px;
    border: 1px #B8CB3A solid;
    position: relative
}

.main {
    border: solid 1px #d3d3d3;
    background-color: #f5f5f5;
    position: relative;
    height: 400px
}

.title {
    color: ghostwhite;
    text-align: left;
    margin: 0;
    padding-left: 20px;
    font-family: "Caveat Brush", cursive
}

.trayButton {
    background-color: white;
    color: #B8CB3A;
    height: 100%;
    top: 0px;
    left: 80%;
    position: absolute;
    margin-right: 10px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold
}

.trayButton:hover {
    color: #a9a9a9
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #a9a9a9
}

.mainHeading {
    text-align: center;
    text-decoration: underline
}

@media only screen and (min-width: 768px) {
    .wrapper {
        min-width: 1000px;
        max-width: 1000px
    }

    .trayButton {
        right: 5%;
        width: 100px;
        height: 42px;
        top: 3px
    }

    .main {
        display: flex
    }

    header {
        min-width: 1000px;
        max-width: 1000px
    }

    .title {
        text-align: center
    }

    .main {
        min-width: 1000px;
        max-width: 1000px
    }
}

#trayContents {
    visibility: hidden
}

#time {
    height: 400px;
    text-align: center;
    font-weight: bold;
    color: #a9a9a9;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    border: none;
    top: -50px
}

.timeButtons {
    background-color: #B8CB3A;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 200px;
    font-size: larger;
    border-radius: 8px
}

.timeSelectArrowUp {
    height: 20px;
    width: 30px;
    border: none;
    cursor: pointer
}

.timeSelectArrowDown {
    height: 20px;
    width: 30px;
    border: none;
    cursor: pointer;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

#timeNumbers {
    color: red;
    position: relative;
    font-size: 60px;
    top: -65px
}

#hourArrowUp {
    position: relative;
    top: -17px;
    left: -45px
}

#minArrowUp {
    position: relative;
    top: -17px;
    left: -8px
}

#amOrPMArrowUp {
    position: relative;
    top: -17px;
    left: 50px
}

#hourArrowDown {
    position: relative;
    left: -45px;
    top: -110px
}

#minArrowDown {
    position: relative;
    top: -110px;
    left: -8px
}

#amOrPMArrowDown {
    position: relative;
    top: -110px;
    left: 50px
}

#timeButtons {
    position: relative;
    top: -100px
}

@media only screen and (min-width: 768px) {
    #trayContents {
        border-right: solid 1px #d3d3d3;
        width: 701px;
        max-width: 783px;
        min-width: 366px;
        height: auto;
        visibility: visible
    }

    #time {
        width: 297px;
        border-left: solid 1px #d3d3d3;
        border-right: solid 1px transparent;
        top: 0
    }

    .timeButtons:hover {
        opacity: 0.7
    }
}
